.about {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  height: 100vh;
  overflow: hidden;
  min-width: 0;

  @media (max-width: 1366px) {
    gap: 20px;
  }

  @media (max-width: 1120px) {
    display: block;
  }

  // .about__side-nav

  &__side-nav {
    @media (max-width: 1280px) {
      display: none;
    }
  }

  // .about__header

  &__header {
    display: none;

    @media (max-width: 1280px) {
      display: initial;
    }
  }

  // .about__grid

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 320px);
    grid-template-rows: repeat(3, 320px);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-top: 132px;

    flex-grow: 1;
  }

  // .about__us

  &__us {
    grid-area: 1 / 1 / 3 / 1;
    border-bottom: none;
  }

  // .about__item

  &__item {
    padding: 3rem;
    border: 1px solid var(--gold);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  // .about__title

  &__title {}

  // .about__misson

  &__misson {
    grid-area: 3 / 1 / 3 / 3;
  }

  // .about__team

  &__team {
    grid-area: 2 / 3 / 3 / 3;
  }

  // .about__img

  &__img {
    grid-area: 1 / 3 / 1 / 3;
    border-bottom: none;
  }

  // .about__img-2

  &__img-2 {
    grid-area: 2 / 2 / 2 / 2;
    border-left: none;
    border-right: none;
    border-bottom: none;
  }

  // .about__collapse

  &__collapse {
    display: none;
  }

  // .about__slider

  &__slider {
    @media (max-width: 1120px) {
      height: fit-content;
      border-top: 1px solid var(--gold);
      border-bottom: 1px solid var(--gold);
    }


  }

  // .about__swiper

  &__swiper {}

  // .about__slide

  &__slide {
    height: 200px;
    width: 200px;

    & .icon {
      height: 200px;
      width: 200px;

      @media (max-width: 1420px) {
        width: 100px;
        height: 100px;
      }
    }

    @media (max-width: 1420px) {
      width: 100px;
      height: 100px;
    }
  }
}




.accordion {

  // .accordion__control

  &__control {}

  // .accordion__title

  &__title {}

  // .accordion__icon

  &__icon {}

  // .accordion__content

  &__content {}
}