.about {
  display: flex;
  align-items: center;
  height: fit-content;
  padding: 0 50px;
  gap: 20px;
  height: 100%;

  @media (max-width: 1120px) {
    display: block;
    max-width: 100vw;
    overflow-x: hidden;
    align-items: center;

  }

  // .about__side-nav

  &__side-nav {
    @media (max-width: 1280px) {
      display: none;
    }
  }

  // .about__header

  &__header {
    display: none;

    @media (max-width: 1280px) {
      display: initial;
    }
  }

  // .about__grid

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 320px);
    grid-template-rows: repeat(3, 320px);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    padding: 32px 0;

    width: fit-content;
    height: fit-content;
    // margin-top: 32px;

    flex-grow: 1;

    // flex-grow: 1;

    @media (max-width: 1280px) {
      grid-template-rows: repeat(3, 250px);
      grid-template-columns: repeat(3, 300px);
      margin: 0 auto;
      // margin-top: 32px;
    }

    @media (max-width: 1280px) {
      display: flex;
      flex-direction: column;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  // .about__us

  &__us {
    grid-area: 1 / 1 / 3 / 1;
    border-bottom: none;

    @media (max-width: 1280px) {
      grid-area: 1 / 1 / 3 / 3;
    }

  }

  // .about__item

  &__item {
    font-size: 18px;

    padding: 3rem;
    border: 1px solid var(--gold);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (max-width: 1120px) {
      padding: 1rem;
    }
  }

  // .about__title

  &__title {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  // .about__misson

  &__misson {
    grid-area: 3 / 1 / 3 / 3;

    @media (max-width: 1280px) {
      grid-area: 3 / 1 / 3 / 4;
    }
  }

  // .about__team

  &__team {
    grid-area: 2 / 3 / 4 / 3;

    @media (max-width: 1280px) {
      grid-area: 1 / 3 / 3 / 3;
    }
  }

  // .about__img

  &__img {
    grid-area: 1 / 3 / 1 / 3;
    border-bottom: none;

    @media (max-width: 1280px) {
      display: none;
    }
  }

  // .about__img-2

  &__img-2 {
    grid-area: 2 / 2 / 2 / 2;
    border-left: none;
    border-right: none;
    border-bottom: none;


    @media (max-width: 1280px) {
      display: none;
    }
  }

  // .about__collapse

  &__collapse {
    display: none;

    @media (max-width: 768px) {
      display: block;
    }
  }

  // .about__wrapper

  &__wrapper {
    // margin-top: 60px;
    padding: 32px 0;
    min-height: 100px;
    margin-left: -50px;
    width: calc(100% + 100px);
    height: auto;



    @media (min-width: 1120px) {
      overflow: hidden;
      margin-left: 0;
      width: 264px;
      height: 100vh;

    }

    @media (max-width: 1120px) {

      border-top: 1px solid var(--gold);
      border-bottom: 1px solid var(--gold);
    }

    @media (max-width: 1280px) {
      // height: 100%;
    }



  }

  // .about__swiper

  &__swiper {}

  // .about__slide

  &__slide {
    height: 200px;
    width: 200px;

    @media (min-width: 1120px) {
      margin-bottom: 60px;
    }

    & .icon {
      height: 200px;
      width: 200px;

      @media (max-width: 1420px) {
        width: 100px;
        height: 100px;
      }
    }

    @media (max-width: 1420px) {
      width: 100px;
      height: 100px;
    }
  }
}

.accordion {

  // .accordion__control

  &__control {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // .accordion__title

  &__title {
    color: var(--gold);
    font-size: 28px;
    font-weight: 500;
  }

  // .accordion__icon

  &__icon svg {
    transition: transform .5s ease-in-out;
  }


  // .accordion__content

  &__content {
    font-size: 16px;
  }

}

.accordion.is-open {

  & .accordion__icon svg {
    transform: rotate(135deg);
  }
}