.nft {

  position: relative;
  max-width: 1120px;
  min-height: 100vh;
  height: 100%;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;


  &::after,
  &::before {
    position: absolute;
    content: '';
    width: 1px;
    height: 100%;
    top: 0;
    background-color: var(--gold);

    @media (max-width: 992px) {
      display: none;
    }
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 1px;
  }

  // .nft__header

  &__header {
    display: none;

    @media (max-width: 1280px) {
      display: initial;
    }
  }

  // .nft__side-nav
  &__side-nav {
    @media (max-width: 1280px) {
      display: none;
    }
  }

  // .nft__title

  &__title {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    border: 1px solid var(--gold);
    width: 160px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.item {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &:nth-child(2n) {
    flex-direction: column-reverse;
  }

  // .item__title

  &__title {
    font-weight: 600;
    font-size: 18px;
  }

  // .item__img

  &__img {
    flex-shrink: 0;
  }
}

.square {
  position: absolute;

  border: 1px solid var(--gold);
  top: 0;
  left: 160px;
  width: calc(100% - 320px);
  height: 100%;

  @media (max-width: 992px) {
    display: none;
  }

  &--sm {
    top: 197px;
    left: 320px;
    width: 480px;
    height: calc(100% - 394px);

    @media (max-height: 1024px) {
      display: none;
    }

    @media (max-width: 992px) {
      display: none;
    }

  }
}

.grid {
  display: grid;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  position: relative;

  margin-top: 114px;
  padding-bottom: 30px;

  @media (max-width: 767.92px) {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin-top: 90px;
  }
}