.services {
  position: relative;
  max-width: 760px;
  height: calc(100% + 90px);
  overflow: hidden;
  margin: 0 auto;
  margin-top: -90px;
  display: flex;
  justify-content: center;

  & span {
    position: absolute;
    width: 1px;
    height: 100%;
    left: 50%;
    background-color: var(--gold);
  }

  &::before,
  &::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 100%;
    background-color: var(--gold);

    @media (max-width: 991.98px) {
      display: none;
    }
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }

  &__header {
    display: none;

    @media (max-width: 767.98px) {
      display: initial;
    }
  }
}

.services-slider,
.services-slider-2 {
  padding: 0 60px;

  @media (max-width: 767.98px) {
    padding: 10px;
  }

  // .services-slider__slide

  &__slide {
    max-width: 260px;

    & img {
      // width: 320px;
      // height: 320px;
      object-fit: cover;
    }
  }
}

.services-info {
  max-width: 260px;
  padding: 60px 0;

  @media (max-width: 767.98px) {
    padding: 30px 0;
  }

  // .services-info__title

  &__title {
    text-align: right;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 30px;

    @media (max-width: 767.98px) {
      margin-top: 10px;
    }
  }

  // .services-info__list

  &__list {
    list-style: none;
  }

  // .services-info__item

  &__item {
    text-align: right;
    padding-right: 10px;
    position: relative;

    &::after {
      position: absolute;
      content: '-';
      right: 0;
    }
  }
}