include ./common/header.pug
include ./common/preloader.pug
include ./common/side-nav.pug

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Mythril
    link(href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet')
    link(rel="stylesheet" href="css/main.css")
  body(style="background: #000000;")
    +preloader
    .cursor 
    .cursor2
    block content 
    script(src="./js/app.js") 
