include ../common/header
template#contacts-page
  +header("/about","/contacts")
  section.contacts
    .contacts__content
      .contacts__img
        img(src='https://cdn.dribbble.com/userupload/14815025/file/original-3d3d44a97338a3c86ab62672de003bd2.png?resize=1504x1128' alt="")
      .form
        h2.form__header Wirte to us
        p.form__desc We are a studio that develops and creates digital art.
        form.form(action='#' novalidate)
          .input-box
            input#email(type='email' name='email' required placeholder='E-Mail' onfocus='placeholder=\'\'' onblur='placeholder=\'E-Mail\'')
            label.form-error(for='email') Incorrect
          .input-box
            input#text(type='text' name='text' required placeholder='Message' onfocus='placeholder=\'\'' onblur='placeholder=\'Message\'')
            label.form-error(for='text') Too short
          .form__bottom
            .check
              input#checkbox(type='checkbox' name='checkbox' required tabindex='0')
              label.label-checkbox(for='checkbox')
              span I’m not a robot
            button.form__button(type='submit') send
      .contacts__img
        img(src='https://cdn.dribbble.com/userupload/14457998/file/original-2e7e4b9d94caad529cd80e316bb1b2dd.png?resize=1504x1127' alt="")
      .contacts__img
        img(src='https://cdn.dribbble.com/userupload/14607508/file/original-c9f10a8ae87fadafd688e1ed6b827cfe.png?resize=1504x1128' alt="")
