include ../common/header
template#home-page
	+header("/build/","/services")(class="hero__header")
	main.page
		section.hero
			h1.visually-hidden Nft studio art
			.hero__body 
				.hero-gallery
					.swiper-wrapper 
						.swiper-slide.hero-gallery__item
							.hero-title__item Defi Landing Page
							img(src="https://cdn.dribbble.com/userupload/14912902/file/original-12c002c69215970cd2eaf4824b287a4f.png?resize=1504x1128" alt="")
						.swiper-slide.hero-gallery__item
							.hero-title__item Fitness Tracker Mobile App
							img(src="https://cdn.dribbble.com/userupload/14938248/file/original-62f9f7eca9f329c063f8c619589ed6b0.jpg?resize=1504x1128" alt="")
						.swiper-slide.hero-gallery__item
							.hero-title__item Photographer App Mobile
							img(src="https://cdn.dribbble.com/userupload/14548814/file/original-bbd9e542a074c10796112395371b373d.png?resize=1200x900&vertical=center" alt="")
			.hero__footer.container 
				ul.network.hero__network 
					li.network__item
						a.network__link(href="") 
							i.bx.bxl-behance
					li.network__item
						a.network__link(href="")
							i.bx.bxl-facebook
					li.network__item
						a.network__link(href="")
							i.bx.bxl-twitter
					li.network__item
						a.network__link(href="")
							i.bx.bxl-instagram
					li.network__item
						a.network__link(href="")
							i.bx.bxl-linkedin
				p.hero__about 
					|We are a studio that develops and creates digital art.
			a(href="/services" data-link).hero__next.href
					i.bx.bxs-down-arrow
					|next 
