
include ../common/header
include ../common/jobs-slider
template#jobs-page
  +header("/nft","/about")
  section.jobs 
    +slider("https://cdn.dribbble.com/userupload/14784190/file/original-cd9fb446f070701407fbae77e512d4a6.png?resize=1504x1128","https://cdn.dribbble.com/users/8009763/screenshots/18438950/media/4644ab1cc8a55133a3fe996ac26f17fc.png?resize=1200x900&vertical=center","modal-1","modal-1")
    .jobs__helper 
      |swipe to more
      i.bx.bx-chevron-right
  .modal.micromodal-slide#modal-1(aria-hidden='true')
    .modal__overlay(tabindex='-1' data-micromodal-close)
      section.popup
        button.popup__close(data-micromodal-close aria-label='Close modal')
          i.bx.bx-x-circle
        .container.popup__container(aria-modal='true')
          .popup__sliders
            .popup__slider
              .swiper-wrapper
                .swiper-slide.popup__slide
                  img(src='https://cdn.dribbble.com/userupload/14784190/file/original-cd9fb446f070701407fbae77e512d4a6.png?resize=1504x1128' alt="")
                .swiper-slide.popup__slide
                  img(src='https://cdn.dribbble.com/userupload/14784190/file/original-cd9fb446f070701407fbae77e512d4a6.png?resize=1504x1128' alt="+")
                .swiper-slide.popup__slide
                  img(src='https://cdn.dribbble.com/userupload/14784190/file/original-cd9fb446f070701407fbae77e512d4a6.png?resize=1504x1128' alt="")
          .popup__content
            .popup__top
              h2.popup__title Cyber Girls
              .popup__text
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            
