include ../common/header
template#nft-page
  +header("/services","/jobs")(class="nft__header")
  main.page 
    section.nft 
      .grid 
        .item
          .item__title Animated NFT’s
          .item__img
             img(src="https://cdn.pixabay.com/photo/2023/10/14/14/22/man-8314982_1280.jpg", alt="")
        .item
          .item__title NFT collections
          .item__img
            img(src="https://cdn.pixabay.com/photo/2024/04/01/19/01/ai-generated-8669597_1280.png", alt="")
        .item
          .item__title NFT’s for games
          .item__img
            img(src="https://cdn.pixabay.com/photo/2022/12/30/10/52/mountain-7686642_1280.jpg" alt="games")
        .item.title
          h2.nft__title nft 
        .item
          .item__title 3D generative art
          .item__img
            img(src="https://cdn.pixabay.com/photo/2023/03/30/12/21/ai-generated-7887638_1280.jpg" alt="3D")
        .item
          .item__title 2D generative art
          .item__img
            img(src="https://cdn.dribbble.com/userupload/8212611/file/original-b671272ef3ee2c92c688519cbaa1840c.jpg?resize=1504x1504" alt="2D")
        .item
          .item__title 3D rotable art
          .item__img
            img(src="https://cdn.pixabay.com/photo/2024/03/08/09/47/ai-generated-8620359_1280.png" alt="rotable")
