extends ../_layout.pug
block content
  +header("./services.html","./jobs.html")(class="nft__header")
  main.page 
    section.nft 
      .grid 
        .item
          .item__title Animated NFT’s
          .item__img
            img(src="./img/nft/animated.jpg" alt="animated")
        .item
          .item__title NFT collections
          .item__img
            img(src="./img/nft/collections.jpg" alt="collections")
        .item
          .item__title NFT’s for games
          .item__img
            img(src="./img/nft/games.jpg" alt="games")
        .item.title
          h2.nft__title nft 
        .item
          .item__title 3D generative art
          .item__img
            img(src="./img/nft/generative-3d.jpg" alt="3D")
        .item
          .item__title 2D generative art
          .item__img
            img(src="./img/nft/generative.jpg" alt="2D")
        .item
          .item__title 3D rotable art
          .item__img
            img(src="./img/nft/rotable.jpg" alt="rotable")
        .square.square--xl 
