include ../common/side-nav
include ../common/header
template#services-page
	+side-nav("./nft.html")
	+header("/build/","/nft")(class="services__header")
	section.services 
		span
		.services-slider.ss-1
			.services-slider__wrapper
				img(src="https://cdn.dribbble.com/userupload/14949994/file/original-8ffaefd5cca570011f101f0eb6d222fd.jpg?resize=1504x1128&vertical=center" alt="")
				.services-info
					h4.services-info__title 
						|2D art & animation
					ul.services-info__list 
						li.services-info__item Concept Design
						li.services-info__item Illustrations
						li.services-info__item UI
						li.services-info__item Logo Design
						li.services-info__item In-Game Art
				.services-slider__img
					img(src="https://cdn.dribbble.com/userupload/14915273/file/original-9499d962394118509f3ff11aad5f88a1.png?resize=1504x1128" alt="")
				.swiper-slide.services-slider__img
					img(src="https://cdn.dribbble.com/userupload/14904676/file/original-e5a101e3a0b54503ef188b25c67bbd1a.jpg?resize=1504x1128" alt="")
		.services-slider-2.ss-2
			.services-slider__wrapper
				img(src="https://cdn.dribbble.com/userupload/14807547/file/original-eaafab5bb0d5f7d15e99d026630a9f92.jpg?resize=1504x1128" alt="")
				.services-info
					h4.services-info__title 
						|3D art & animation
					ul.services-info__list 
						li.services-info__item High Poly Zbrush sculpting
						li.services-info__item Modeling/PBR Texturing
						li.services-info__item Motion Capture
						li.services-info__item 3D Rendering-VRay
						li.services-info__item Game and Film Rigging
				.services-slider__img
					img(src="https://cdn.dribbble.com/userupload/14913061/file/original-667f7641cf8b58b862cbfeb52bb25f3b.png?resize=1504x1128" alt="")
				.services-slider__img
					img(src="https://cdn.dribbble.com/userupload/14726877/file/original-bd9c7e9168aec75f69d60cbb2465ba9c.jpg?resize=1504x1128" alt="")