extends _layout.pug
block content
  +header(class="hero__header")
  section.hero
    //- .hero__title-slider
    //-   .swiper-wrapper
    //-     .swiper-slide.hero-title__item NFT Studio art
    //-     .swiper-slide.hero-title__item NFT Studio art
    //-     .swiper-slide.hero-title__item NFT Studio art
    //- .hero-gallery
    //-   .swiper__wrapper 
    //-     .swiper-slide.hero-gallery__item
    //-       img(src="./img/hero/1.jpg" alt="nft")
    //-     .swiper-slide.hero-gallery__item
    //-       img(src="./img/hero/2.jpg" alt="nft")
    //-     .swiper-slide.hero-gallery__item
    //-       img(src="./img/hero/3.jpg" alt="nft")

block scripts
  script(src="./js/index.js") 
