extends _layout.pug
block content
  +header("./nft.html","./about.html")
  section.jobs 
    +slider("./img/jobs/1.jpg","./img/jobs/2.jpg")
    +slider("./img/jobs/3.jpg","./img/jobs/4.jpg")
    +slider("./img/jobs/5.jpg","./img/jobs/6.jpg")
    .jobs__helper 
      |swipe to more
      +icon("#arrow")
  .modal.micromodal-slide#modal-1(aria-hidden='true')
    .modal__overlay(tabindex='-1' data-micromodal-close)
      section.popup
        button.popup__close(data-micromodal-close aria-label='Close modal')
          +icon("#cross")
        .container.popup__container(aria-modal='true')
          .popup__sliders
            .popup__slider-1
              .swiper-wrapper
                .swiper-slide.popup__slide
                  img(src='img/jobs-popup/1.jpg' alt)
                .swiper-slide.popup__slide
                  img(src='img/jobs-popup/2.jpg' alt)
                .swiper-slide.popup__slide
                  img(src='img/jobs-popup/3.jpg' alt)
            .popup__slider-2
              .swiper-wrapper
                .swiper-slide.popup__slide
                  img(src='img/jobs-popup/4.jpg' alt)
                .swiper-slide.popup__slide
                  img(src='img/jobs-popup/5.jpg' alt)
                .swiper-slide.popup__slide
                  img(src='img/jobs-popup/6.jpg' alt)
          .popup__content
            .popup__top
              h2.popup__title Cyber Girls
              .popup__text
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            .popup__buttons
              button.popup-button
                span.popup-button__text prev
                span.popup-button__title Bulldogs
              button.popup-button
                span.popup-button__text next
                span.popup-button__title Cyko
block scripts
  script(src="https://unpkg.com/micromodal/dist/micromodal.min.js")
  script(src="./js/jobs.js") 