mixin header 
	.container.header__container(class!=attributes.class) 
		header.header
			a.logo(href="#") 
				|Mythril 
				br
				|Studio 
			nav.nav 
				ul.nav__list 
					li.nav__item 
						a.nav__link(href="#") Services
					li.nav__item 
						a.nav__link(href="#") NFT
					li.nav__item 
						a.nav__link(href="#") Jobs
					li.nav__item 
						a.nav__link(href="#") About
					li.nav__item 
						a.nav__link(href="#") Contacts
			.nav-mobile
				a.nav-mobile__item(href="#")
					+icon("#arrow")(class="nav-mobile__icon")
					|prev
				a.nav-mobile__item.nav-mobile__item--reversed(href="#")
					+icon("#arrow")(class="nav-mobile__icon")
					|next
				button.nav-mobile__button
					span
		ul.nav__list.nav-mobile__list 
			li.nav__item 
				a.nav__link(href="#") Services
			li.nav__item 
				a.nav__link(href="#") NFT
			li.nav__item 
				a.nav__link(href="#") Jobs
			li.nav__item 
				a.nav__link(href="#") About
			li.nav__item 
				a.nav__link(href="#") Contacts
		.header__bottom 
			ul.network 
				li.network__item
					a.network__link(href="") 
						+icon("#behance")
				li.network__item
					a.network__link(href="")
						+icon("#linkedin") 
				li.network__item
					a.network__link(href="")
						+icon("#dribble") 
				li.network__item
					a.network__link(href="")
						+icon("#instagram") 
				li.network__item
					a.network__link(href="")
						+icon("#twitter") 
			a(href="#").header__mail info@mythril.space

mixin preloader 
	section.preloader 
		.preloader__header
			a.logo(href="#") 
				|Mythril 
				br
				|Studio 
		.preloader__body Making art..
		.preloader__footer We are a studio that develops and creates digital art.


mixin side-nav 
	nav.side-nav(class!=attributes.class)
		ul.side-nav__list
			li.side-nav__item
				a.side-nav__link(href="#") Services
			li.side-nav__item
				a.side-nav__link(href="#") NFT
			li.side-nav__item
				a.side-nav__link(href="#") Jobs 
			li.side-nav__item
				a.side-nav__link(href="#") About 
			li.side-nav__item
				a.side-nav__link(href="#") Contacts
		button.side-nav__button 
			span next
			+icon("#arrow")


mixin slider(img1,img2)
	.jobs-slider(class!=attributes.class) 
		.swiper-wrapper 
			.swiper-slide.jobs-slide 
				.jobs-slide__img 
					img(src=img1 alt="job")
				.jobs-slide__content 
					h4.jobs-slide__title Cyber Girls
					p.jobs-slide__text 
						|Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
					button.popup__button(data-micromodal-trigger='modal-1') look more
			.swiper-slide.jobs-slide 
				.jobs-slide__img 
					img(src=img2 alt="job")
				.jobs-slide__content 
					h4.jobs-slide__title Cyber Girls
					p.jobs-slide__text 
						|Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
					button.popup__button(data-micromodal-trigger='modal-1') look more