.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  width: 100%;

  position: relative;

  // .header__container 
  &__container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    // display: flex;
    // justify-content: flex-start;
    // flex-direction: column;


    transition: height 0.5s ease-in-out;

    z-index: 10;
    background-color: rgba($color: #000000, $alpha: .75);
    backdrop-filter: blur(10px);
    padding: 15px 50px 0;

    @media (max-width: 767.98px) {
      padding: 0 15px;
      // height: 80px;
    }

    &.is-active {
      height: 100vh;
      overflow-y: auto;
    }
  }

  // .header__bottom

  &__bottom {
    display: none;

    justify-content: space-between;
  }

  // .header__mail

  &__mail {
    writing-mode: vertical-rl;
    text-align: center;
  }
}

.logo {
  font-size: 24px;
  font-weight: 900;

  transform: translateY(-10px);

  @media (max-width: 767.98px) {
    transform: translateY(0);
  }

  // flex-grow: 1;

  @media (max-width: 767.98px) {
    font-size: 18px;
  }
}

.nav {

  // .nav__list

  &__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 60px;

    @media (max-width: 767.98px) {
      display: none;
    }
  }

  // .nav__item

  &__item {}

  // .nav__link

  &__link {
    font-size: 18px;


  }
}

.nav-mobile {
  display: none;

  @media (max-width: 767.98px) {
    display: flex;
    align-items: center;
    column-gap: 30px;
  }

  // .nav-mobile__list

  &__list {
    overflow-y: auto;
    display: none;
    flex-direction: column;
    gap: 40px;
    text-align: center;
    padding: 10px 0;
    // transform: translateX(-100vw);

    &.is-active {
      display: flex;
    }
  }

  // .nav-mobile__item

  &__item {
    display: flex;
    align-items: center;
    transition: opacity .3s ease;
  }

  // .nav-mobile__icon

  &__icon {
    width: 24px;
    height: 24px;
    transform: rotate(90deg);
  }

  // .nav-mobile__item--reversed

  &__item--reversed {
    flex-direction: row-reverse;

    >.nav-mobile__icon {
      transform: rotate(-90deg);
    }
  }

  // .nav-mobile__button

  &__button {
    width: 24px;
    height: 24px;
    position: relative;

    & span {
      position: absolute;
      content: '';
      background-color: var(--gold);
      width: 2px;
      height: 2px;

      top: 50%;
      left: 50%;

      transition: .3s;
    }

    &::before,
    &::after {
      position: absolute;
      content: '';
      background-color: var(--gold);
      width: 2px;
      height: 2px;

      top: 50%;

      transition: .3s;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }
}

.header__container.is-active {
  .nav-mobile__item {
    opacity: 0;
  }

  .nav-mobile__button {
    & span {
      opacity: 0;
    }

    &::before {
      width: 100%;
      transform: rotate(45deg);
    }

    &::after {
      width: 100%;
      transform: rotate(135deg);
    }
  }

  .header__bottom {
    display: flex;
  }
}

.network {
  list-style: none;
  padding: 0;

  // .header-network__item

  &__item {}

  // .header-network__link

  &__link {
    & .icon {
      width: 20px;
      height: 20px;

      & use path {
        fill: var(--gold);
      }
    }
  }
}