.preloader {
  height: 100vh;
  padding: 0px 50px 100px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  // .preloader__header

  &__header {}

  // .preloader__body

  &__body {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      height: 1px;
      width: 0%;
      background-color: var(--gold);
      animation-name: loader;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-out;
    }
  }

  // .preloader__footer

  &__footer {
    text-align: right;
  }
}

@keyframes loader {
  to {
    width: 100%;
  }
}