.nft {
	padding: 1px;
	height: 100%;
	position: relative;
	max-width: 1120px;
	margin: 0 auto;
	display: grid;
	place-items: center;
	padding-bottom: 10px;
	// .nft__title

	&__title {
		text-transform: uppercase;
		font-size: 40px;
		font-weight: 600;
		text-align: center;
		border: 1px solid var(--gold);
		width: 150px;
		height: 160px;
		transform: translateX(5px);
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.item {
	overflow: hidden;
	padding: 4px;
	background-color: #000;
	position: relative;
	z-index: 10;
	display: flex;
	flex-direction: column;
	gap: 4px;

	transition: transform 1.75s cubic-bezier(0.075, 0.82, 0.165, 1);

	&:hover {
		transform: scale(1.03);
	}

	&:nth-child(2n) {
		flex-direction: column-reverse;
	}

	// .item__title

	&__title {
		font-weight: 600;
		@include responsive-font(12px, 18px);
		text-align: center;
	}

	// .item__img

	&__img {
		flex-shrink: 0;
		width: 200px;
		height: 200px;
		overflow: hidden;

		& > img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

.grid {
	border: 1px solid var(--gold);
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 2px;
	gap: 8px;
	justify-content: center;

	position: relative;

	@media (max-width: 992px) {
		grid-template-columns: repeat(4, 1fr);

		gap: 10px;
	}
	@media (max-width: 767.92px) {
		grid-template-columns: repeat(3, 1fr);
	}
}

.title {
	width: 200px;
	display: grid;
	place-items: center;
}
