mixin preloader 
	section.preloader
		.preloader__header
			span 
				|Mythril 
				br
				|Studio 
		.preloader__body Making art..
		.preloader__footer We are a studio that develops and creates digital art.
